* {box-sizing: border-box;}

body
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(246, 251, 255);
    box-sizing: border-box;
}

.banner
{
    background-color: #98aeeb;
    width: 1920px;
    height: 100px;
}

.product-heading
{
    text-align: center;
}

.address
{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 2vh;
}

.poc
{
    text-align: center;
}

.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    font-family: Verdana, sans-serif; 
    margin:0;
  }

  #btn a{
    display: flex; 
    padding: 10px 13px;
    text-decoration: none;
    background-color: rgb(51, 49, 60);
    color: rgb(219, 196, 178);
    font-size: 17px;

}

#btn{
    width: 300px;
    border: none;
    font-weight: bold;
}

#btn a:hover{
    border-color: rgb(51, 49, 60);
    background-color: rgb(219, 196, 178);
    color: rgb(51, 49, 60);
}
.change{
    width: 80%;
    margin: auto;
}


/*

.slide {display: none}
img {vertical-align: middle;}

table{
    padding: 20px;
}

.slideshow{
  max-width: 100%;
  position: relative;
  margin-top: 10%;
  margin-left: 15%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
    left: 0;
}

.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(246, 251, 255);
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
  }

#simbtn a{
    display: flex; 
    padding: 10px 13px;
    text-decoration: none;
    background-color: rgb(51, 49, 60);
    color: rgb(219, 196, 178);
    font-size: 17px;

}

#simbtn{
    width: 300px;
    border: none;
    font-weight: bold;
}

#simbtn a:hover{
    border-color: rgb(51, 49, 60);
    background-color: rgb(219, 196, 178);
    color: rgb(51, 49, 60);
}


.text_h3
{
    text-align: center;
    font-family: Verdana, sans-serif;
}
*/