body
{
    margin: 0px;
    padding: 0px;
    background-image: url("bg.jpg");
}

.navbar
{
    width: 100%; /* Using 100% not (X)px, because with % it will detect and use the screen's width */
    height: 46px;
    background-color: #33313B;
    /*Centering nav bar items*/
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nbar_ul 
{
    list-style-type: none; /* Removes the bullets from the list */
    margin: 0px;
    padding: 0px;
}
  
.nbar_li 
{
    float: left;
}

.nbar_ul a /* <a> tag in the .nbar_ul class */ 
{
    display: flex; /* Vertical padding doesn't work without it */
    color: #E3C4A8;
    padding: 14px 16px;
    text-decoration: none;
}

.nbar_li a:hover 
{
    background-color: #4592AF;
}

.quote_text
{
    /*font-size: 20px;*/
    /*font-size: 1.95vh;*/
    font-size: 1.75vh;
    margin-top: 37.5%;
    /*color: beige;*/
    color: #33313B;
}

.logo
{
    width: 250px;
    height: 220px;
}

.quote
{
    /*margin-left: 32.5%;*/ 
    margin-left: 33%;
    /*margin-top: 35px;*/
    padding: 0px;
    /*width: 35%;*/
    width: 35vw;
    /* height: 100px; */
    height: 10vh;
    /*background-color: #33313B;*/
    display: flex;
    text-align: center;
    border-radius: 20px;
}

.bag_cont
{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: 95vw;
}

.logo_long_div
{
    width: 50%;
    margin-left: 24%;
    /*margin-top: 3vh;*/
    margin-top: -13vh;
    display: flex;
    justify-content: center;
}

.logo_long
{
    width: 100%;
}

.btn
{
    margin-top: 1.3vh;
    background-color: #33313B;
    border: none;
    color: #E3C4A8;
    font-size: 15px;
}

form
{

    width: 300px;
    height: 400px;
    margin-top: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5%;
    margin-left: 42%;
    background-color: #33313B;
    border-radius: 20px;
}

form a
{
    text-decoration: none;
    color:#33313B
}

label
{
    color: white;
}

.icons
{
    float: left;
    display: inline;
    width: 14%;
    margin-left: 15%;
}

.del
{
    height: 200px;
    width: 200px;
}

.del_p
{
    margin-left: 22%;
    margin-top: -5.5%;
    font-size: 2vh;
}

.del_p2
{
    margin-left: -30%;
    margin-top: -5%;
    text-align: center;
}

.truck
{
    height: 200px;
    width: 210px;
}

.truck_p
{
    margin-left: 14%;
    margin-top: -5%;
    font-size: 2vh;
}

.truck_p2
{
    margin-left: -30%;
    margin-top: -5%;
    text-align: center;
}

.stamp
{
    height: 200px;
    width: 300px;
    margin-top: 2%;
}

.stamp_p
{
    margin-left: 30%;
    margin-top: -5%;
    font-size: 2vh;
}

.stamp_p2
{
    margin-top: -5%;
    text-align: center;
}

/*
.logo_small_div
{
    margin-left: 40%;
    width: 20%;
    display: flex;
    justify-content: center;
}

.logo_small
{
    width: 375px;
    height: 350px;
    display: flex;
    justify-self: center;
}
*/

/*
.payment
{
        margin-left: 4%;
        margin-top: -1%;
        width: 10%;
}

.payment2
{
    margin-left: 4.1%;
    margin-top: -0.5%;
    width: 10%;
}
*/

.payment
{
    width: 650px;
    margin-bottom: -7%;
    margin-top: -5.5%;
    height: 300px;
    margin-left: 32.5%;
}

.phone
{
    width: 40px;
    height: 40px;
}

.phone_div
{
    width: 7%;
    height: 5%;
    display: flex;
    align-items: center;
    margin-left: 46.35%;
}

.email
{
    width: 60px;
    height: 60px;
}

.email_div
{
    width: 10%;
    height: 5%;
    margin-top: -3%;
    margin-left: 75%;
    display: flex;
    align-items: center;
}

.social_media
{
    display: flex;
    justify-content: space-between;
}

.social_media img
{
    width: 50px;
    height: 50px;
    margin-top: -3.25%;
}

.social_media p
{
    margin-left: -24%;
    margin-top: -2.5%;    
}

.contact
{   
    margin-left: 46.25%;
}

/*
.banner
{
    width: 101.5%;
    height: 150px;
    background-image: url("./banner.png");
}

.banner img
{
    width: 100px;
    height: 100px;
    margin: 50px;
    margin-left: 5%;
    margin-top: 1%;
}

.banner_text
{
    margin-top: -1.5%;
    margin-left: 2.9%;
}

.banner_text p
{
    display: inline;
    text-align: center;
    margin: 80px;
    color: dodgerblue;
}
*/